body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5cdb95;
}

.appContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainTitle {
  margin: 0px;
  font-size: 150px;
  font-weight: bolder;
  color: #05386b;
}

.subTitle {
  margin: 0px;
  font-size: 50px;
  font-weight: bold;
  color: #edf5e1;
}

.logo {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  height: 150px;
}

.flexWrapCenter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  margin-bottom: 10px;
}

.searchBar {
  width: 70%;
  height: 24px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #05386b;
  border-right: 0px;
  font-size: 20px;
  padding: 8px;
  outline: none;
  background-color: #edf5e1;
}

.searchButton {
  background-color: #05386b;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #edf5e1;
  border: 2px solid #05386b;
  box-shadow: none;
  width: 22%;
  height: 44px;
  font-size: 20px;
  padding: 8px;
  outline: none;
}

.searchButton:hover {
  background-color: #379683;
}

.recipeContainer {
  background-color: #8ee4af;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  height: 380px;
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #05386b;
  box-shadow: 0px 0px 20px #379683;
}

.recipeContainer:hover {
  background-color: #edf5e1;
}

.info {
  margin-top: 20px;
}

.info p {
  font-size: 18px;
  padding: 2px;
  margin: 0px;
  font-weight: normal;
}

.recipePopupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /*Have to use RGB so that opacity does not get pass to child div*/
}

.recipePopup {
  border: 2px solid #05386b;
  padding: 20px;
  width: 70%;
  height: 70%;
  background-color: #edf5e1;
  border-radius: 10px;
  overflow: auto;
  color: #05386b;
}

.roundImage {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.mainImage {
  border-radius: 10px;
}

.loading {
  margin-top: 100px;
}

.exitButton {
  position: absolute;
  left: 82%;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 10px;
  background-color: #05386b;
  font-size: 15px;
  color: #edf5e1;
  font-weight: bold;
  box-shadow: none;
  border: 0px;
  border-radius: 50%;
}

.exitButton:hover {
  background-color: #379683;
}
