::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(55, 150, 131, 0.7);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 150, 131, 1);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 70vw;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #5cdb95;
}

.appContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mainTitle {
  margin: 0px;
  font-size: 130px;
  font-weight: bolder;
  color: #05386b;
}

.subTitle {
  margin: 0px;
  font-size: 50px;
  font-weight: bold;
  color: #edf5e1;
}

.logo {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  height: 150px;
}

.searchContainer {
  margin-top: 20px;
}

.searchBar {
  width: 70%;
  height: 24px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #05386b;
  border-right: 0px;
  font-size: 20px;
  padding: 8px;
  outline: none;
  background-color: #edf5e1;
}

.searchButton {
  background-color: #05386b;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #edf5e1;
  border: 2px solid #05386b;
  box-shadow: none;
  width: 22%;
  height: 44px;
  font-size: 20px;
  padding: 8px;
  outline: none;
}

.searchButton:hover {
  background-color: #379683;
}

.recipeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.recipeCardContainer {
  background-color: #8ee4af;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #05386b;
  box-shadow: 0px 0px 20px #379683;
}

.recipeCardContainer:hover {
  background-color: #edf5e1;
}

.info {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info p {
  font-size: 14px;
  padding: 10px;
  margin: 0px;
  margin-left: 2px;
  margin-top: 5px;
  background-color: #edf5e1;
  border-radius: 50px;
  border: 2px solid #05386b;
  color: #05386b;
}

.recipePopupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /*Have to use RGB so that opacity does not get pass to child div*/
}

.recipePopup {
  border: 2px solid #05386b;
  padding: 20px;
  width: 70%;
  height: 70%;
  background-color: #edf5e1;
  border-radius: 10px;
  overflow: auto;
  color: #05386b;
}

.roundImage {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.mainImage {
  border-radius: 10px;
}

.loading {
  margin-top: 100px;
}

.exitButton {
  position: absolute;
  left: 82%;
  width: 40px;
  height: 40px;
  padding: 5px;
  margin-right: 10px;
  background-color: #05386b;
  font-size: 15px;
  color: #edf5e1;
  font-weight: bold;
  box-shadow: none;
  border: 0px;
  border-radius: 50%;
}

.exitButton:hover {
  background-color: #379683;
}

.error {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #edf5e1;
  font-size: 30px;
}

.error img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.accountContainer {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 10px;
}

.accountButton {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 0px;
  border-radius: 50%;
  background-color: #05386b;
  color: white;
}

.accountContainer button:focus {
  outline: none;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: #edf5e1;
  padding: 20px;
  right: 35px;
  top: 45px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #379683;
}

.loginForm input {
  margin-bottom: 15px;
  font-size: 1.2rem;
  outline: none;
  border: solid 2px #05386b;
  border-radius: 5px;
  padding: 5px;
}

.loginForm button {
  outline: none;
  border: 0px;
  background-color: #05386b;
  border-radius: 5px;
  color: white;
  padding: 10px;
    font-size: 1rem;
    margin-top: 15px;
}

.createAccountButton{
  background-color: #379683 !important;
}

/*Classes used for CSSTransition (React transition group)*/
.loginFormContainerEnter {
  opacity: 0;
  transform: translate(10px, -100px);
}

.loginFormContainerEnterActive {
  transition: opacity 1s, transform 0.6s;
  opacity: 1;
  transform: translate(0px, -50px);
}

.loginFormContainerEnterDone {
  opacity: 1;
  transform: translate(0px, -50px);
}

.loginFormContainerExit{
  transform: translate(0px, -50px);
  opacity: 1;
}

.loginFormContainerExitActive{
  transition: opacity 0.4s, transform 1s;
  opacity: 0;
  transform: translate(10px, -100px);
}

.loginFormContainerExitDone{
  opacity: 0;
  transform: translate(10px, -100px);
}

/*Large Phone (iPhone X/Pixel XL)*/
@media screen and (max-width: 500px) {
  .mainTitle {
    font-size: 80px;
  }

  .subTitle {
    font-size: 25px;
  }

  .logo {
    width: 350px;
    height: 120px;
  }

  .error {
    font-size: 25px;
  }

  .searchButton {
    padding-left: 5px;
  }

  .mainImage {
    width: 250px;
  }

  .exitButton {
    width: 25px;
    height: 25px;
    font-size: 10px;
  }
}

/*Small Phone (iPhone 8 and later)*/
@media screen and (max-width: 380px) {
  .mainTitle {
    font-size: 75px;
  }

  .mainImage {
    width: 200px;
  }
}
